.catalog-card__list {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-card__title {
  font-size: inherit;
  color: #222222;
  font-weight: inherit;
}
