.catalog-page {
  display: flex;
  flex-direction: column;
}

.catalog-page__catalog {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.catalog-page__title {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 174px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 120px;
  }
}

.catalog-page__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 144px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 147px 80px;
  }
}

.catalog-page__item {
  border: 1px solid $color-catalog-divider-1;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &--more {
    border: 1px solid $color-catalog-divider-1;
  }
}
