.form__input {
  color: #444444;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}

.form__button {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
