.goals-card__subtitle {
  font-size: 24px;
  line-height: 37px;
  font-weight: inherit;
  text-align: left;
  text-transform: uppercase;
}

.goals-card__link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

