.main-nav__list {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;


  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    background-color: $accent;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link {
  color: $primary-color;
  padding-bottom: 10px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    color: $secondary-color;
  }
}

.main-nav__link--current {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $accent;
    bottom: 0;

    @media (min-width: $desktop-width) {
      background-color: $secondary-color;
    }
  }
}
