.main-nav {
  list-style-type: none;
}

.main-nav__toggle {

}


.main-nav__list {
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

.main-nav__item {

}

.main-nav__link {
  text-decoration: none;
}

.main-nav__link--current {

}
