.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 15px;

  @media (min-width: $desktop-width) {
    padding: 55px 0 0;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 13px;
    padding: 25px 0 0;
  }
}

.page-header__link-cat {
  &:hover {
    opacity: 0.6;
  }
}

.page-header__link-text {
  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}
