.partnership__text {
  color: #111111;
}

.partnership__address {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.partnership__info--catalog {
  background-color: #f2f2f2;
}
