.results {
  background-color: #eaeaea;
}

.results__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
}

.results__container{

}

.results__description{

}

.results__list{

}

.results__item{

}

.results__item--cost{

}

.results__slider{

}

.results__image-fat{

}

.results__image-slim{

}

