.specification {
  margin-bottom: 49px;
}

.specification__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.specification__text {
  @media (min-width: $tablet-width) {
    max-width: 245px;
  }
}

.specification__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.specification__item {
  position: relative;
  padding: 2px 0 4px 80px;
  min-height: 60px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $accent;
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 124px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    min-height: 80px;
    padding: 111px 0 57px;

    &::before {
      width: 80px;
      height: 80px;
      top: 0;
    }
  }
}

.specification__item--healthy {
  &::before {
    background-image: url("../../icons/stack.svg#leaf-healthy");
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 71px;
      height: 227px;
      background-image: url("../../images/number-1.svg");
    }
  }
}

.specification__item--fast {
  &::before {
    background-image: url("../../icons/stack.svg#cook-fast");
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 113px;
      height: 229px;
      background-image: url("../../images/number-2.svg");
      background-position: center;
    }
  }
}

.specification__item--eat {
  &::before {
    background-image: url("../../icons/stack.svg#fork-spoon-eat");
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 112px;
      height: 232px;
      background-image: url("../../images/number-3.svg");
      background-position: center;
    }
  }
}

.specification__item--effect {
  &::before {
    background-image: url("../../icons/stack.svg#time-effect");
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 113px;
      height: 229px;
      background-image: url("../../images/number-4.svg");
      background-position: center;
    }
  }
}
