.specification {
  margin-bottom: 49px;
}

.specification__title {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
  }
}

.specification__list {
  display: grid;
  grid-template-columns: 60px 200px;
  grid-template-rows: repeat(4, 60px);
  gap: 24px 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.specification__item--healthy {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $accent;
    background-image: url("../../icons/stack.svg#leaf-healthy");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    left: -80px;
    top: -251px;
  }
}

.specification__item--fast {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $accent;
    background-image: url("../../icons/stack.svg#cook-fast");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
  }
}

.specification__item--eat {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  ::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $accent;
    background-image: url("../../icons/stack.svg#fork-spoon-eat");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
  }
}

.specification__item--effect {
  grid-column: 2 / 3;
  grid-row: 4 / 5;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $accent;
    background-image: url("../../icons/stack.svg#time-effect");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
  }
}
