.subtitle {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: inherit;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  &--low {
    line-height: 24px;
  }
}
